<!DOCTYPE html>
<html class="h-full" lang="ca">
    <head>
        <title>Benvinguda | Web Crafters</title>
        <link href="../Img/logoSimple.webp" rel="icon" type="image/svg+xml"/>
        <link href="../style.css" rel="stylesheet">
        <link rel=»canonical» href=»https://2dam-202324-projecte.github.io/ProjecteANJO/» />
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>   
        <meta name="description" content="Dissenyem pàgines web a mida per al teu negoci. Oferim solucions de disseny web creatives i efectives per impulsar la teva presència en línia. Contacta'ns avui mateix!">
        <meta name="keywords" content="creació de pàgines web, disseny web, desenvolupament web, disseny de llocs web, disseny web personalitzat">
        <meta name="author" content="WebCrafters">
        <meta name="language" content="ca">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta property="og:site_name" content="WebCrafters - Creació de Pàgines Web">       
    </head>
<body class="h-full">
    
    <!-- SCRIPTS -->
    <script src="../main.js" type="module"></script>

<main class="relative isolate min-h-full">
    <img src="https://images.unsplash.com/photo-1545972154-9bb223aac798?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3050&q=80&exp=8&con=-15&sat=-75" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-top">
    <div class="mx-auto max-w-7xl px-6 py-32 text-center sm:py-40 lg:px-8">
        <!--        <p class="text-base font-semibold leading-8 text-white">404</p>-->
        <h1 class="mt-4 text-3xl font-bold tracking-tight text-white sm:text-5xl">Benvingut</h1>
        <p class="mt-4 text-base text-white/70 sm:mt-6">T'has registrat correctament al nostre canal de notícies.</p>
        <div class="mt-10 flex justify-center">
            <a href="../index.html" class="text-sm font-semibold leading-7 text-white"><span aria-hidden="true">&larr;</span> Torna a la pàgina</a>
        </div>
    </div>
</main>

</body>
</html>